/* HEADER */

.header {
    margin-top: 30px;
}

.logo {
    width: 10%;
    float: right
}

.active {
    background-color: #5693f5;
    color: white;
}


/* CONTENT */

.search {
    margin: 10px 0px 10px 0px;
}

.search-box {
    width: 100%;
    border: 5px solid #c4c4c4;
    padding: 5px;
}

::-webkit-input-placeholder {
    text-align: center;
}

 :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

 :-ms-input-placeholder {
    text-align: center;
}

.fa-plus-circle {
    font-size: 50px;
}

.search-results {
    margin-top: 10px;
}

.add-button {
    float: right;
}

.results-add-wrapper {
    margin-bottom: 10px;
}

.sub-category td a {
    padding-right: 4px;
}


/* FOOTER */